<h1>一覧</h1>

<%= link_to '新規投稿', new_insclone_path %>

<table>
  <tr>
    <th>内容</th>
    <th>更新日時</th>
  </tr>
  <% @insclones.each do |insclone| %>
    <tr>
      <td><%= insclone.content %></td>
      <td><%= insclone.updated_at %></td>
      <td><%= link_to '詳細表示', insclone_path(insclone.id) %>
    </tr>
  <% end %>
</table>
